<div class="hero">
  <div class="hero-body">
    <h1>Update Project</h1>
    {{#if errorMessages.length}}
      <p>Could not update the project because:</p>
      <ul>
        {{#each errorMessages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{else if serverError.length}}
      <p>Couldn't fetch the project because:</p>
      <ul>
        {{#each serverError}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    {{#unless serverError.length}}
      <div class="container-forms">
        <form method="post">
          <div class="form-group">
            <label class="form-label">Update information about your project:</label>
            <input
              class="form-input"
              type="text"
              name="title"
              placeholder="title (optional)"
              value="{{project.title}}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-input"
              type="text"
              name="description"
              placeholder="description (optional)"
              value="{{project.description}}"
            />
          </div>
          <input class="bg-dark" type="submit" value="Update" />
        </form>
      </div>
    {{/unless}}
  </div>
</div>